<div class="containerII">
    <h2>Contact List</h2>
  
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Email</th>
          <th>Subject</th>
          <th>Message</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let contact of contacts">
          <td>{{ contact._id }}</td> 
          <td>{{ contact.name }}</td>
          <td>{{ contact.email }}</td>
          <td>{{ contact.subject }}</td> 
          <td>{{ contact.message }}</td>
          <td>
            <button (click)="deleteContact(contact._id)">Delete</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>