.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
.containerII {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
  }
  
  th, td {
    padding: 10px;
    border: 1px solid #ddd;
  }
  
  th {
    background-color: #072647;
    color: white;
  }
  
  .delete-btn {
    background-color: #072647;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .delete-btn:hover {
    background-color: #c82333;
    transition: 1s;
  }
  